<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Головна сторінка</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/home.css}"
          href="../static/css/home.css"/>
</head>
<body>
<div id="body-wrapper">
   <!-- <header>
        <div class="header-wrapper">
            <ul class="header-list">
                <li>Увійти</li>
                <li>Зареєструватись</li>
            </ul>
        </div>
        <div id="float-clear"></div>
    </header>
    -->
    <nav class="footer_nav">
         <div class="header-wrapper">
            <ul class="header-list">
                <a href="/login"><li>Увійти</li></a>
                <a href="/registration"><li>Зареєструватись</li></a>
            </ul>
        </div>
        <div id="float-clear"></div>
    </nav>
    <main>
    <aside>
        <ul class="aside_menu">
            <a href="/calls">
                <li>Дзвінки</li>
            </a>
            <a href="/licence"><li>Ліцензія</li></a>
            <a href="/firminfo"><li>Фірма</li></a>
        </ul>
    </aside>

    </main>
    <footer>
        <p>Some text</p>
    </footer>
</div>
</body>
</html>